name: Playwright Tests

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
      with:
        cache: 'npm'
    - name: Restore Playwright binaries cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        key: ${{ runner.os }}-playwright-${{ hashFiles('**/playwright.config.ts') }}
        path: ~/.cache/ms-playwright
        restore-keys: |
          ${{ runner.os }}-playwright-${{ hashFiles('**/playwright.config.ts') }}
          ${{ runner.os }}-playwright-
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: |
        sudo apt-get update && sudo apt-get install -y fonts-noto
        npx playwright install --with-deps
        sudo apt-get remove -y fonts-wqy-zenhei
    - name: Run Playwright tests
      run: CI=1 npm run test:e2e
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      if: always() # Upload report even if tests fail
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
